.about {
  display: grid;
  grid-template-columns: 50% 211px auto;
  min-height: 420px;
}

.about__welcome {}

.about__advantages {}

.about__update {
  padding: 13px 20px;
  background-color: #ffffff;
  border-top: 11px solid #ffb4a6;
  color: #000000;
}