@font-face {
    font-family: 'Trebuchet_ms';
    src: url('../fonts/trebuchetms-webfont.woff2') format('woff2'),
      url('../fonts/trebuchetms-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Designosaur';
    src: url('../fonts/designosaur-italic-webfont.woff2') format('woff2'),
      url('../fonts/designosaur-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Designosaur';
    src: url('../fonts/designosaur-regular-webfont.woff2') format('woff2'),
      url('../fonts/designosaur-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }