@font-face {
  font-family: 'Trebuchet MS';
  src: url('../fonts/trebuchetms-webfont.woff2') format('woff2'),
    url('../fonts/trebuchetms-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Designosaur';
  src: url('../fonts/designosaur-regular-webfont.woff2') format('woff2'),
    url('../fonts/designosaur-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}