.site-nav {}

.site-nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.site-nav__link {
  display: inline-block;
  padding: 5px 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  &--active {
    background-color: #000000;
    border-radius: 5px;
  }

  &:hover:not(&--active),
  &:focus:not(&--active) {
    text-decoration: underline;
  }
}