.update {}

.update__title {
  margin: 0;
  padding: 0;
  font-size: var(--fs-700);
}

.update__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.update__item {
  font-size: var(--fs-200);

  &:not(:last-child) {
    margin-bottom: 18px;
  }
}

.update__date {
  color: #c0c0c0;
}